<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <% if (is_post()) { %>
    <title><%= config.title + ' | ' + page.title %></title>
    <meta name="description" content="<%= page.excerpt %>">
  <% } else { %>
    <title><%= config.title + ' | ' + config.subtitle %></title>
    <meta name="description" content="<%= config.description %>">
  <% } %>

  <%- css('css/main') %>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
